body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #F6C645;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.panel {
    background-color: #FFEE93;
    padding: 10px;
    border: 1px solid #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.button {
    padding: 5px 10px;
    background-color: #E6B800;
    color: white;
    border: none;
    cursor: pointer;
}
.logout-button {
    position: absolute;
    right: 10px;
    top: 3%;
    transform: translateY(-50%);
    background-color: #d6a00b;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}
.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.table-header h2 {
    margin: 0;
}

.button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: gold; /* Color from your screenshot */
    border: 1px solid #ccc;
    border-radius: 5px; /* Rounded corners */
}
